# Practice notebook for pandas operations

In [9]:
import os
import pandas as pd
import seaborn as sns
import numpy as np
from IPython.display import display
import matplotlib.pyplot as plt

## Setting defaults

In [10]:
DATA_PATH = './Data/'
PLOTS_PATH = './plots/'
FILE_NAME = 'bmbf-answers.csv'
LEFT_SERVER_FILE = 'leftServerBmbfFiles.csv'
RIGHT_SERVER_FILE = 'rightServerBmbfFiles.csv'

In [11]:
# make folder for plots
os.makedirs(os.path.dirname(PLOTS_PATH), exist_ok=True)

## Reading questionnaire data

In [12]:
questionnaire_df = pd.read_csv(f'{DATA_PATH}{FILE_NAME}')

In [13]:
questionnaire_df.head()

,id,uid,date,Intention to Use 1,Perceived Usefulness 4,Perceived Ease of Use 2,Trust,Sex,Age,Aviophobia,Driving Frequency,Playing Hours,VR Playing Frequency
0,7,efb7844a4df8430f9d1c2f72babe5e86,2019-07-02 11:58:23,60,80,30,91,weiblich,51,1,32,0,unter 10
1,8,7be560561f2141518bd4f6c2c3c9f487,2019-07-02 12:07:53,56,62,36,85,männlich,52,0,34,0,Ein mal
2,9,fa0885937e114e9a907a5a4feda5798b,2019-07-02 12:09:22,29,79,27,52,männlich,49,0,30,0,Noch nie
3,10,132256b042674a5f8ed249578fc624b4,2019-07-02 12:45:58,100,96,100,83,männlich,47,0,30,8,Ein mal
4,11,3b057c2796314ef6a61de34c28d63e03,2019-07-02 12:51:29,68,78,37,50,männlich,52,0,32,0,Ein mal

In [14]:
questionnaire_df.columns

Index(['id', 'uid', 'date', 'Intention to Use 1', 'Perceived Usefulness 4',
       'Perceived Ease of Use 2', 'Trust', 'Sex', 'Age', 'Aviophobia',
       'Driving Frequency', 'Playing Hours', 'VR Playing Frequency'],
      dtype='object')

In [15]:
questionnaire_df.shape

(819, 13)

In [16]:
questionnaire_df.isna().sum()

id                         0
uid                        0
date                       0
Intention to Use 1         0
Perceived Usefulness 4     0
Perceived Ease of Use 2    0
Trust                      0
Sex                        0
Age                        0
Aviophobia                 0
Driving Frequency          0
Playing Hours              0
VR Playing Frequency       0
dtype: int64

In [19]:
questionnaire_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 819 entries, 0 to 818
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   id                       819 non-null    int64
 1   uid                      819 non-null    object
 2   date                     819 non-null    datetime64[ns]
 3   Intention to Use 1       819 non-null    int64
 4   Perceived Usefulness 4   819 non-null    int64
 5   Perceived Ease of Use 2  819 non-null    int64
 6   Trust                    819 non-null    int64
 7   Sex                      819 non-null    object
 8   Age                      819 non-null    int64
 9   Aviophobia               819 non-null    int64
 10  Driving Frequency        819 non-null    int64
 11  Playing Hours            819 non-null    int64
 12  VR Playing Frequency     819 non-null    object
dtypes: datetime64[ns](1), int64(9), object(3)
memory usage: 83.3+ KB

### Basic formatting

In [18]:
questionnaire_df['date'] = (pd.to_datetime(questionnaire_df['date'], infer_datetime_format=True))

In [20]:
questionnaire_df.set_index('uid', inplace=True)

In [21]:
questionnaire_df.head()

,id,date,Intention to Use 1,Perceived Usefulness 4,Perceived Ease of Use 2,Trust,Sex,Age,Aviophobia,Driving Frequency,Playing Hours,VR Playing Frequency
uid,,,,,,,,,,,,
efb7844a4df8430f9d1c2f72babe5e86,7,2019-07-02 11:58:23,60,80,30,91,weiblich,51,1,32,0,unter 10
7be560561f2141518bd4f6c2c3c9f487,8,2019-07-02 12:07:53,56,62,36,85,männlich,52,0,34,0,Ein mal
fa0885937e114e9a907a5a4feda5798b,9,2019-07-02 12:09:22,29,79,27,52,männlich,49,0,30,0,Noch nie
132256b042674a5f8ed249578fc624b4,10,2019-07-02 12:45:58,100,96,100,83,männlich,47,0,30,8,Ein mal
3b057c2796314ef6a61de34c28d63e03,11,2019-07-02 12:51:29,68,78,37,50,männlich,52,0,32,0,Ein mal

### Merging with filenames.csv to get conditions for each participant

### Renaming columns

### Checking value counts of categorical data

### Checking number of missing values

### Dropping rows with missing values

### Mapping German labels to English

### Saving formatted questionnaire data

In [31]:
questionnaire_df.to_csv('questionnaire_cleaned.csv')

### Create new column based on values of another column